[submodule "inference/external_infer"]
	path = inference/external_infer
	url = https://github.com/locitran/tandem-dimple.git
[submodule "/mnt/nas_1/YangLab/project/tandem_website/inference/tandem"]
	path = /mnt/nas_1/YangLab/project/tandem_website/inference/tandem
	url = https://github.com/locitran/tandem.git
[submodule "inference/tandem"]
	path = inference/tandem
	url = git@github.com:locitran/tandem.git
