.example-label {
  font-size: 14px;      /* label font size */
  margin-right: 4px;
}


// Dropdown
.example-select {
  font-size: 14px;      /* dropdown font size */
  padding: 2px 4px;
  border-radius: 2px;
  border: 1px solid #6b7280;
  outline: none;
}
