.gr-textbox textarea {
    resize: both !important;
    white-space: pre-wrap !important;
    overflow-y: auto !important;
    overflow-x: auto !important;
}

.session-label,
.session-id,
.job-label,
.job-name {
    font-size: var(--block-title-text-size) !important;
    font-weight: var(--block-title-text-weight) !important;
    color: var(--block-title-text-color) !important;
}
