#gr-textbox textarea {
    resize: both !important;
    // font-family: monospace !important;
    white-space: nowrap !important;
    font-size: 12px !important;
    background-color: var(--background-fill-secondary) !important;
    color: var(--body-text-color) !important;
    overflow-y: auto !important;
    overflow-x: auto !important;
}

textarea {
    // font-size: 12px !important;
    overflow-y: auto !important;
}

.session-label,
.session-id,
.job-label,
.job-name {
    font-size: var(--block-title-text-size) !important;
    font-weight: var(--block-title-text-weight) !important;
    color: var(--block-title-text-color) !important;
}